@font-face { 
    font-family: 'cfcrayons-regular';
    src: url('../Font/cfcrayons-regular-webfont.eot');
    src: url('../Font/cfcrayons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../Font/cfcrayons-regular-webfont.woff') format('woff'),
         url('../Font/cfcrayons-regular-webfont.ttf') format('truetype'),
         url('../Font/cfcrayons-regular-webfont.svg#cfcrayons-regular') format('svg');
	font-weight:normal;
	font-style:normal;
}
